<a href="https://colab.research.google.com/github/ysneef/Toanroirac/blob/main/Chuong3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.1. Các nguyên lý

+ Liệt kê cầu thủ bóng đá Việt Nam:

In [ ]:
bongda_VN = ["Văn Lâm", "Tiến Dũng", "Anh Đức", "Công Phượng"]
for cau_thu in bongda_VN:
  print ("Ten cau thu VietNam: ", cau_thu)

Ten cau thu VietNam:  Văn Lâm
Ten cau thu VietNam:  Tiến Dũng
Ten cau thu VietNam:  Anh Đức
Ten cau thu VietNam:  Công Phượng

+ Liệt kê số cầu thủ bóng đá thế giới

In [ ]:
bongda_TG = ["Messi", "Ronaldo", "Thonglao", "Mbappé"] 
for cau_thu in bongda_TG:
  print ("Ten cau thu The gioi: ", cau_thu)

Ten cau thu The gioi:  Messi
Ten cau thu The gioi:  Ronaldo
Ten cau thu The gioi:  Thonglao
Ten cau thu The gioi:  Mbappé

Tìm sự tranh chấp Quả bóng vàng giữa cầu thủ Việt Nam và Thế giới là
sự chọn 1 từ mỗi tập, số trường hợp được liệt kê là tích của số lượng phần tử của 2 tập

In [ ]:
for bong_VN in bongda_VN:
  for bong_TG in bongda_TG: 
    print ("Khả năng tranh chấp quả bóng vàng giữa: ", bong_VN, " với ", bong_TG)

Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Mbappé
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Mbappé
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Mbappé
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Mbappé

+ Ví dụ 1

In [ ]:
N = 4
for i1 in range(0, N):
  for i2 in range(0, N):
    for i3 in range(0, N):
      print (i1, i2, i3)

0 0 0
0 0 1
0 0 2
0 0 3
0 1 0
0 1 1
0 1 2
0 1 3
0 2 0
0 2 1
0 2 2
0 2 3
0 3 0
0 3 1
0 3 2
0 3 3
1 0 0
1 0 1
1 0 2
1 0 3
1 1 0
1 1 1
1 1 2
1 1 3
1 2 0
1 2 1
1 2 2
1 2 3
1 3 0
1 3 1
1 3 2
1 3 3
2 0 0
2 0 1
2 0 2
2 0 3
2 1 0
2 1 1
2 1 2
2 1 3
2 2 0
2 2 1
2 2 2
2 2 3
2 3 0
2 3 1
2 3 2
2 3 3
3 0 0
3 0 1
3 0 2
3 0 3
3 1 0
3 1 1
3 1 2
3 1 3
3 2 0
3 2 1
3 2 2
3 2 3
3 3 0
3 3 1
3 3 2
3 3 3

+ Ví dụ 2

In [ ]:
for i1 in range(0, N):
  for i2 in range(0, N):
    for i3 in range(0, N):
      if i1 != i2 and i2 != i3 and i1 != i3:
        print (i1, i2, i3)

0 1 2
0 1 3
0 2 1
0 2 3
0 3 1
0 3 2
1 0 2
1 0 3
1 2 0
1 2 3
1 3 0
1 3 2
2 0 1
2 0 3
2 1 0
2 1 3
2 3 0
2 3 1
3 0 1
3 0 2
3 1 0
3 1 2
3 2 0
3 2 1

+ Ví dụ 3

In [ ]:
for i1 in range(0, N):
  for i2 in range(i1+1, N):
    for i3 in range(i2+1, N):
      print (i1, i2, i3)

0 1 2
0 1 3
0 2 3
1 2 3

+ Ví dụ 4

In [ ]:
for i1 in range(0, N):
  for i2 in range(i1, N):
    for i3 in range(i2, N):
      print (i1, i2, i3)

0 0 0
0 0 1
0 0 2
0 0 3
0 1 1
0 1 2
0 1 3
0 2 2
0 2 3
0 3 3
1 1 1
1 1 2
1 1 3
1 2 2
1 2 3
1 3 3
2 2 2
2 2 3
2 3 3
3 3 3

In [ ]:
N = 3
ketqua = []
for i1 in range(0, N):
  for i2 in range(i1, N):
    for i3 in range(i2, N):
      ketqua = ketqua + [(i1, i2, i3)]

In [ ]:
ketqua

[(0, 0, 0),
 (0, 0, 1),
 (0, 0, 2),
 (0, 1, 1),
 (0, 1, 2),
 (0, 2, 2),
 (1, 1, 1),
 (1, 1, 2),
 (1, 2, 2),
 (2, 2, 2)]

In [ ]:
ketqua[3]

(0, 1, 1)

# 1.2. Thể hiện biểu thức luận lý bằng Python

In [1]:
def implies(a, b):
  if a:
    return b
  else:
    return True

In [2]:
implies(10, 11)

11

In [3]:
implies(1, 11)

11

In [4]:
implies(0, 11)

True

In [5]:
x, y = 2, 3

In [6]:
implies(x>=0 and y >=0, x*y >=0)

True

In [8]:
x, y = -2, 3

In [9]:
implies(x>=0 and y >=0, x*y >=0)

True

# 2. Lý thuyết tập hợp với kiểu dữ liệu list trong Python

In [10]:
N = 3
ketqua = []
for i1 in range(0, N):
  for i2 in range(i1, N):
    for i3 in range(i2, N):
      ketqua = ketqua + [(i1, i2, i3)]

In [11]:
(0, 2, 2) in ketqua

True

In [12]:
(0, 2, 1) in ketqua

False

+ Phép giao (intersection) giữa 2 tập A và B:

In [14]:
A = [0, 1, 2, 3, 4, 5, 6, 7]
B = [2, 4, 6, 8, 10]
def intersection(A, B): 
  ketqua = []
  for x in A: 
    if x in B:
      ketqua = ketqua + [x]
  return ketqua

In [15]:
intersection(A, B)

[2, 4, 6]

+ Phép tìm tập hiệu (difference) giữa 2 tập A và B:

In [16]:
def difference(A, B):
  ketqua = []
  for x in A:
    if x not in B:
      ketqua = ketqua + [x]
  return ketqua

In [17]:
A = [0, 1, 2, 3, 4, 5, 6, 7]
B = [2, 4, 6, 8, 10]
difference(A, B)

[0, 1, 3, 5, 7]